:root.theme-dark {
  --Themes-background: #000;
  --Themes-accentColor: #00cc14;
  --Themes-mainColor: #00cc14;
  --like-icon__mainColor: #ff0000;
  --dialog-background: #000;
  --bg-img: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #007f0c 0%, #004306 100%);
  --bg-color: #000;
  --font-title-wght: 785;
  --font-text-wght: 465;
}

:root.theme-light {
  --Themes-background: #fff;
  --Themes-accentColor: #fff;
  --Themes-mainColor: #000;
  --like-icon__mainColor: #ff0000;
  --dialog-background: #000;
  --bg-img: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --bg-color: #fff;
  --font-title-wght: 700;
  --font-text-wght: 400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --Themes-background: #000;
    --Themes-accentColor: #00cc14;
    --Themes-mainColor: #00cc14;
    --like-icon__mainColor: #ff0000;
    --dialog-background: #000;
    --bg-img: repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #007f0c 0%, #004306 100%);
    --bg-color: #000;
    --font-title-wght: 785;
    --font-text-wght: 465;
  }
}
